/* background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
.login-box{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color:  #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box form {
 width: 400px;
 display: flex;
 flex-direction: column;
 align-items: center;
 height: 60vh;
 background-color: white;
 border-radius: 20px;
}
.login{
    color: white;
}
.text{
    width:80%;
    position: relative;
    top:20%;
}
.text1{
    width:80%;
    position: relative;
    top:25%;
}
.btn{
    position: relative;
    top:30%;
    width: 80%;
    font-weight: bold;
    font-family: sans-serif;
}
.errorMessage{
    position: relative;
    top: 30%;
    text-align: center;
    color: red;
}